@using PetProject.Models;
@using System.Collections.Generic;
@using System.Data;
@using System.Linq;
@using System.Web;
@model IList<result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!--
<p>
    
</p>
<table class="table">
    <tr>
        <th>
           
        </th>
        <th>
           
        </th>
        <th>
         
        </th>
        <th></th>
    </tr>
    -->

<div name="list">
    @foreach(var i in Model.Select(p=>p.songName)){
        <a href="">@i</a>


    }


</div>

