@using PetProject.Models;
@using System.Collections;

@using System.Data;
@using System.Linq;
@using System.Web;
@model IList<result>


@{
    ViewBag.Title = "Index";
}


<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js">


    $("div a").click(function () {
        $("#chart").html("Trends/Index/SongName/" + $(this).text());

    });
</script>



<h2>Index</h2>
<!--
<p>
    
</p>
<table class="table">
    <tr>
        <th>
           
        </th>
        <th>
           
        </th>
        <th>
         
        </th>
        <th></th>
    </tr>
    -->

<div name="list">
    @foreach(var i in Model.Select(p=>p.songName)){
        <a href="">@i</a>


    }


</div>

<div name="chart"></div>


