@using PetProject.Models;
@using System.Collections.Generic;
@using System.Data;
@using System.Linq;
@using System.Web;
@model IList<result>

@{
    ViewBag.Title = "Index";
    ViewBag.songName = "Songa";
}




<h2>Index</h2>

<audio controls="controls">
    <source src="http://www.stephaniequinn.com/Music/Allegro%20from%20Duet%20in%20C%20Major.mp3" type="audio/mp3" />
</audio>


<audio controls="controls">
    <source src="~/mp3/test1.mp3" type="audio/mpeg" />
</audio>

<audio controls="controls">
    <source src="~/mp3/test1.mp3" type="audio/mpeg" />
</audio>

<!--<form id="form1" method="post">




  @*@Html.DropDownList("Song Rating",
                    new SelectList(new List<string> (new string[] { "1.0", "2.0", "3.0", "4.0", "5.0" })),
                    "Select Rating",
                    new { @class = "form-control" })*@

   <!-- <select class="form-control" id="Song_Rating" name="Song Rating">
        <option value="">Select Rating</option>
        <option value="1">1.0</option>
        <option value="2">2.0</option>
        <option value="3">3.0</option>
        <option value="4">4.0</option>
        <option value="5">5.0</option>
    </select>
    <input type="text" name="reportName" />

    <input type="submit" name="submit" value="Submit" />
    </form>
       -->
<form id="form1" method="post" >
    <input type="text" name="reportName" />
    <input type="submit" name="submit" value="Search" />
</form>
       

    @{
// foreach (var i in Model)
//{
/* var myChart = new Chart(width: 600, height: 400)
     .AddTitle("Total Plays")
     .AddSeries("Default",
         xValue: Model.Select(p=>p.songName).ToArray(), xField: "Song Name",
         yValues: Model.Select(p=>p.playsCount).ToArray(), yFields: "Number of Plays")
     .Write();*/

//  }




    }

    @foreach (var j in Model.AsEnumerable())
    {
        <a href="../Trends/Index/SongName/@j.songName"> @j.songName </a><br />;
    }



    <div name="chart"></div>


